<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Approve Course
                    <div class="logout">
                        <span id="currentUserLogin" th:text="${auth.getName()}">
                            dm@tc.edu
                        </span>
                        <a href="/logoutpage" >
                            <i class="icon-off"></i>
                        </a>
                    </div>
                </h1>
            </header>
            <div class="alert alert-error" th:if="${error != null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here</strong>
                </div>
                <div th:switch="${error}">
                    <ul th:case="1">
                        <li>Decision field is required.</li>
                    </ul>
                </div>
            </div>
            <div class="alert alert-error" th:if="${course == null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here.</strong>
                </div>
                <ul>
                    <li>course Not found</li>
                    <li th:if="${badId != null}">Bad course ID</li>
                </ul>
                <a class="btn" href="/courses">Back</a>
            </div>
            <form class="form-horizontal" action="/courses" method="post" th:if="${course != null}">
                <div class="control-group">
                    <div class="control-label">Name</div>
                    <div id="titleField" class="controls text" th:text="${course.getCourseName()}">Project Management</div>
                    <input type="hidden" name="courseId" th:value="${course.getId()}"/>
                </div>
                <div class="control-group">
                    <div class="control-label">Lecturer</div>
                    <div id="ownerField" class="controls text" th:text="${course.getOwner()}">lecturer-a@tc.edu</div>
                </div>
                <div class="control-group">
                    <div class="control-label">Category</div>
                    <div id="categoryField" class="controls text" th:text="${course.getCategory()}">Development</div>
                </div>
                <div class="control-group">
                    <div class="control-label">Description</div>
                    <div id="descriptionField" class="controls text" th:text="${course.getCourseDescription()}">Bla-bla-bla</div>
                </div>
                <div class="control-group">
                    <div class="control-label">Links</div>
                    <div id="linksField" class="controls text" th:text="${course.getLinks()}">Bla-bla-bla</div>
                </div>

                <div class="control-group">
                    <div class="control-label">Department Manager</div>
                    <div id="dmField" class="controls text" >Alex Ivanov</div>
                </div>
                <div class="control-group">
                    <label class="control-label">Decision</label>
                    <div class="controls">
                        <select class="span5" name="decision" th:disabled="${not #lists.contains(roles,'ROLE_DEPARTMENT_MANAGER') or approval.getApprovedBy_dm() != 'false'}">
                            <option th:if="${approval != null and approval.getApprovedBy_dm() != 'false'}" th:text="${approval.getApprovedBy_dm()}">already chosen</option>
                            <option>Select one</option>
                            <option>Approve</option>
                            <option>Reject</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Reason</label>
                    <div class="controls">
                        <textarea class="span5" rows="3" name="reason" th:disabled="${not #lists.contains(roles,'ROLE_DEPARTMENT_MANAGER') or  approval.getDm_reason() != null}" th:text="${approval.getDm_reason()}">
                        </textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">Knowledge Manager</div>
                    <div id="kmField" class="controls text">Xela Vonavi</div>
                </div>
                <div class="control-group">
                    <label class="control-label">Decision</label>
                    <div class="controls">
                        <select class="span5" name="decision" th:disabled="${not #lists.contains(roles,'ROLE_KNOWLEDGE_MANAGER') or approval.getApprovedBy_km() != 'false'}">
                            <option th:if="${approval != null and approval.getApprovedBy_km() != 'false'}" th:text="${approval.getApprovedBy_km()}">already chosen</option>
                            <option>Select one</option>
                            <option>Approve</option>
                            <option>Reject</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Reason</label>
                    <div class="controls">
                        <textarea class="span5" rows="3" name="reason" th:disabled="${not #lists.contains(roles,'ROLE_KNOWLEDGE_MANAGER') or approval.getKm_reason() != null}" th:text="${approval.getKm_reason()}">
                        </textarea>
                    </div>
                </div>
                <div class="form-actions actions-without-form">
                    <button class="btn btn-primary" type="submit" name="approve">Save</button>
                    <a class="btn" href="/courses">Back</a>
                </div>
            </form>
        </div>
    </body>
</html>
