<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Courses
                    <div class="logout">
                        <span id="currentUserLogin" th:text="${auth.getName()}">
                            user-a@tc.edu
                        </span>
                        <a href="/logoutpage">
                            <i class="icon-off"></i>
                        </a>
                    </div>
                </h1>
            </header>
            <div class="courses-top-control" >
                <a class="btn" href="/mycourses">My Courses</a>
                <a th:if="${#lists.contains(roles,'ROLE_LECTURER')}" id="createCourseButton" class="btn btn-primary" href="/courses/create">Create</a>
                <div class="search-box">
                    <form class="form-search" action="/courses" method="post">
                        <select class="span3" name="category">
                            <option>All</option>
                            <option>Project Management</option>
                            <option>Development</option>
                        </select>
                        <button class="btn" type="submit" name="sort">Apply</button>
                    </form>
                </div>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="span1">Id</th>
                        <th>Course</th>
                        <th class="span3">Category</th>
                        <th class="span1">S/A</th>
                        <th class="span1">Grade</th>
                        <th class="span2">Action</th>
                    </tr>
                </thead>
                <tbody th:each="item:${courses}">
                    <tr>
                        <td th:text="${item.getId()}">1</td>
                        <td><a th:href="@{'/courses/' + ${item.getId()}}"><span th:text="${item.getCourseName()}">Project Managemento 101</span></a> 
                            <span class="label" th:if="${item.getState() == T(com.webproject.entities.State).DRAFT}" >Draft</span>
                            <span class="label label-warning" th:if="${item.getState() == T(com.webproject.entities.State).PROPOSAL}">Proposal</span>
                            <span class="label label-important" th:if="${item.getState() == T(com.webproject.entities.State).REJECT}">Rejected</span>
                        </td>
                        <td th:text="${item.getCategory()}">Project Management</td>
                        <td th:if="${item.numberOfSubs('subscriber')+item.numberOfSubs('attendee') == 0}">&nbsp;</td>
                        <td th:if="${item.numberOfSubs('subscriber')+item.numberOfSubs('attendee') != 0}">
                            <a th:href="@{'/courses/' + ${item.getId()}} + '/participants'">
                                <span th:if="${item.numberOfSubs('subscriber') != 0}" th:text="${item.numberOfSubs('subscriber')}">333</span>
                                /
                                <span th:if="${item.numberOfSubs('attendee') != 0}" th:text="${item.numberOfSubs('attendee')}">444</span>
                            </a>
                        </td>
                        <td th:if="${item.averageGrade() == 0}">&nbsp;</td>
                        <td th:if="${item.averageGrade() != 0}"><span th:text="${item.averageGrade()}">444</span></td>
                        <td th:if="${item.getOwner() != auth.getName()}"></td>
                        <div th:if="${item.getOwner() == auth.getName()}">
                            <div th:switch="${item.getState()}">
                                <td th:case="${T(com.webproject.entities.State).DRAFT}">
                                    <div class="btn-group">
                                        <a class="btn btn-mini" th:href="@{'/courses/' + ${item.getId()}} + '/update'">Update</a>
                                        <a th:if="${item.getState() == T(com.webproject.entities.State).DRAFT or item.getState() == T(com.webproject.entities.State).REJECT}" class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a th:href="@{'/courses/' + ${item.getId()}} + '/review'">Send to Review</a>
                                            </li>
                                            <li>
                                                <a th:href="@{'/courses/' + ${item.getId()}} + '/delete'">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                 <td th:case="${T(com.webproject.entities.State).REVIEW}">
                                    <div class="btn-group">
                                        <a class="btn btn-mini" th:href="@{'/courses/' + ${item.getId()}} + '/update'">Update</a>
                                    </div>
                                </td>
                                 <td th:case="${T(com.webproject.entities.State).REJECT}">
                                    <div class="btn-group">
                                        <a class="btn btn-mini" th:href="@{'/courses/' + ${item.getId()}} + '/update'">Update</a>
                                        <a th:if="${item.getState() == T(com.webproject.entities.State).DRAFT or item.getState() == T(com.webproject.entities.State).REJECT}" class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a th:href="@{'/courses/' + ${item.getId()}} + '/review'">Send to Review</a>
                                            </li>
                                            <li>
                                                <a th:href="@{'/courses/' + ${item.getId()}} + '/delete'">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td th:case="${T(com.webproject.entities.State).READY}">
                                    <a class="btn btn-mini" th:href="@{'/courses/' + ${item.getId()}} + '/start'">Start</a>
                                </td>
                                <td th:case="${T(com.webproject.entities.State).INPROGRESS}">
                                    <a class="btn btn-mini" th:href="@{'/courses/' + ${item.getId()}} + '/finish'">Finish</a>
                                </td>
                                <td th:case="${T(com.webproject.entities.State).FINISHED}">
                                    <a class="btn btn-mini" th:href="@{'/courses/' + ${item.getId()}} + '/notify'">Notify</a>
                                </td>
                                <td th:case="*">
                                   &nbsp;
                                </td>
                            </div>
                        </div>
                        <td th:if="${#lists.contains(roles,'ROLE_USER')}">
                            <div th:switch="${item.courseContains(auth.getName())}">
                                <div th:case="new"><a th:if="${item.getState() == T(com.webproject.entities.State).READY or item.getState() == T(com.webproject.entities.State).NEW or item.getState() == T(com.webproject.entities.State).OPEN}" class="btn btn-mini" th:href="@{'/courses/' + ${item.getId()}} + '/subscribe'">Subscribe</a></div>
                                <div th:case="subscriber"><a th:if="${item.getState() == T(com.webproject.entities.State).READY or item.getState() == T(com.webproject.entities.State).OPEN}" class="btn btn-mini" th:href="@{'/courses/' + ${item.getId()}} + '/attend'">Attend</a></div>
                                <div th:case="attendee"><a th:if="${item.getState() == T(com.webproject.entities.State).FINISHED}" class="btn btn-mini" th:href="@{'/courses/' + ${item.getId()}} + '/evaluate'">Evaluate</a></div>
                                <div th:case="*">&nbsp;</div>
                            </div>
                        </td>
                        <td th:if="${item.getState() == T(com.webproject.entities.State).PROPOSAL}">
                            <a th:if="${#lists.contains(roles,'ROLE_DEPARTMENT_MANAGER') or #lists.contains(roles,'ROLE_KNOWLEDGE_MANAGER')}" class="btn btn-mini" th:href="@{'/courses/' + ${item.getId()}} + '/approve'">Approve</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="/resources/jquery-1.8.1.min.js"></script>
        <script src="/resources/bootstrap-2.2.2.min.js"></script>
    </body>
</html>