<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Create Course
                    <div class="logout" >
                        <span id="currentUserLogin" th:text="${auth.getName()}">
                            lecturer-a@tc.edu
                        </span>
                        <a href="/logoutpage">
                            <i class="icon-off"></i>
                        </a>
                    </div>
                </h1>
            </header>
            <div class="alert alert-error" th:if="${error != null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here.</strong>
                </div>
                    <ul>
                        <li th:if="${#strings.contains(error,'1')}">Name field is required.</li>
                        <li th:if="${#strings.contains(error,'3')}">Description field is required.</li>
                        <li th:if="${#strings.contains(error,'5')}">Category field is required.</li>
                    </ul>
            </div>
            <form class="form-horizontal" action="/courses" method="post">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Name</label>
                        <div class="controls">
                            <input id="titleField" class="span5" type="text" name="name"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Category</label>
                        <div class="controls">
                            <select id="categoryField" class="span5" name="category">
                                <option></option>
                                <option>Project Management</option>
                                <option>Development</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Description</label>
                        <div class="controls">
                            <textarea id="descriptionField" class="span5" rows="3" name="description"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Links</label>
                        <div class="controls">
                            <textarea id="linksField" class="span5" rows="3" name="links"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button id="createButton" class="btn btn-primary" type="submit" name="create">Create</button>
                        <a class="btn" href="/courses">Cancel</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
