<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Course Details
                    <div class="logout">
                        <span id="currentUserLogin" th:text="${auth.getName()}">
                            user-a@tc.edu
                        </span>
                        <a href="/logoutpage">
                            <i class="icon-off"></i>
                        </a>
                    </div>
                </h1>
            </header>
            <div class="alert alert-error" th:if="${course == null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here.</strong>
                </div>
                <ul>
                    <li>course Not found</li>
                    <li th:if="${badId != null}">Bad course ID</li>
                </ul>
            </div>
            <div class="form-horizontal" th:if="${course != null}">
                <div class="control-group">
                    <div class="control-label">Name</div>
                    <div id="titleField" class="controls text" th:text="${course.getCourseName()}">Some Title</div>
                </div>
                <div class="control-group">
                    <div class="control-label">Lecturer</div>
                    <div id="ownerField" class="controls text" th:text="${course.getOwner()}">lecturer-a@tc.edu</div>
                </div>
                <div class="control-group">
                    <div class="control-label">Category</div>
                    <div id="categoryField" class="controls text" th:text="${course.getCategory()}">Development</div>
                </div>
                <div class="control-group">
                    <div class="control-label">Description</div>
                    <div id="descriptionField" class="controls text" th:text="${course.getCourseDescription()}">Bla-bla-bla</div>
                </div>
                <div class="control-group">
                    <div class="control-label">Links</div>
                    <div id="linksField" class="controls text" th:text="${course.getLinks()}">Bla-bla-bla</div>
                </div>
                <div class="control-group" th:if="${course.numberOfSubs('subscriber') != 0}">
                    <div class="control-label">Subscribers</div>
                    <a th:href="@{'/courses/' + ${course.getId()}} + '/participants'">
                        <div id="subscribersField" class="controls text" th:text="${course.numberOfSubs('subscriber')}">2</div>
                    </a>
                </div>
                <div class="control-group" th:if="${course.numberOfSubs('attendee') != 0}">
                    <div class="control-label">Attendee</div>
                    <a th:href="@{'/courses/' + ${course.getId()}} + '/participants'">
                        <div id="attendeeField" class="controls text" th:text="${course.numberOfSubs('attendee')}">3</div>
                    </a>
                </div>
                <div class="control-group" th:if="${course.averageGrade() != 0}">
                    <div class="control-label">Grade</div>
                    <div id="gradeField" class="controls text" th:text="${course.averageGrade()}">2.5</div>
                </div>
            </div>
            <div class="form-actions">
                <a class="btn" href="/courses">Back</a>
            </div>
        </div>
    </body>
</html>
