<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Evaluation
                    <div class="logout">
                        <span id="currentUserLogin" th:text="${auth.getName()}">
                            user-a@tc.edu
                        </span>
                        <a href="/logoutpage">
                            <i class="icon-off"></i>
                        </a>
                    </div>
                </h1>
            </header>
            <div class="alert alert-error" th:if="${course == null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here.</strong>
                </div>
                <ul>
                    <li>course Not found</li>
                    <li th:if="${badId != null}">Bad course ID</li>
                </ul>
            </div>
            <div class="alert alert-error" th:if="${inGrade != null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here.</strong>
                </div>
                <ul th:switch="${inGrade}">
                    <li th:case="-1"> Houston, grade must be integer.</li>
                    <li th:case="10"> Houston, grade must be beetwen 1 and 5.</li>
                    <li th:case="11"> Houston, you've already evaluated this course.</li>
                </ul>
            </div>            
            <div class="alert alert-error" th:if="${course == null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here.</strong>
                </div>
                <ul>
                    <li>course Not found</li>
                    <li th:if="${badId != null}">Bad course ID</li>
                </ul>
            </div>
            <div th:if="${course != null}">
                <form class="form-horizontal" action="/courses" method="post">
                    <fieldset>
                        <div class="control-group">
                            <div class="control-label">
                                Course
                            </div>
                            <div id="titleField" class="controls text" th:text="${course.getCourseName()}">
                                Project Management 101
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                Lecturer
                            </div>
                            <div id="ownerField" class="controls text" th:text="${course.getOwner()}">
                                lecturer-a@tc.jtc
                            </div>
                        </div>
                        <div class="control-group">
                            <label id="gradeField" class="control-label">Grade</label>
                            <div class="controls">
                                <input class="span2" type="text" name="grade"/>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button id="evaluateButton" class="btn btn-success" type="submit" name="evaluate">Evaluate</button>
                            <a class="btn" href="/courses">Cancel</a>
                        </div>
                    </fieldset>
                    <input type="hidden" name="courseId" th:value="${course.getId()}"/>
                </form>
            </div>
        </div>
    </body>
</html>