<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    My Courses
                    <div class="logout">
                        <span id="currentUserLogin" th:text="${auth.getName()}">
                            user-a@tc.edu
                        </span>
                        <a href="/logoutpage">
                            <i class="icon-off"></i>
                        </a>
                    </div>
                </h1>
            </header>
            <div class="courses-top-control">
                <a class="btn" href="/courses">Courses</a>
                <div class="search-box">
                    <form class="form-search" action="/mycourses" method="post">
                        <select class="span3" name="category">
                            <option>All</option>
                            <option>Project Management</option>
                            <option>Development</option>
                        </select>
                        <button class="btn" type="submit" name="sort">Apply</button>
                    </form>
                </div>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="span1">Id</th>
                        <th>Course</th>
                        <th class="span3">Category</th>
                        <th class="span1">S/A</th>
                        <th class="span1">Grade</th>
                        <th class="span2">Action</th>
                    </tr>
                </thead>
                <tbody th:each="item:${courses}">
                    <tr>
                        <td th:text="${item.getId()}">1</td>
                        <td><a th:href="@{'/courses/' + ${item.getId()}}"><span th:text="${item.getCourseName()}">Project Managemento 101</span></a> 
                            <span class="label" th:if="${item.getState() == 'draft'}" >Draft</span>
                            <span class="label label-warning" th:if="${item.getState() == 'proposal'}">Proposal</span>
                        </td>
                        <td th:text="${item.getCategory()}">Project Management</td>
                        <td th:if="${item.numberOfSubs('subscriber')+item.numberOfSubs('attendee') == 0}">&nbsp;</td>
                        <td th:if="${item.numberOfSubs('subscriber')+item.numberOfSubs('attendee') != 0}">
                            <a th:href="@{'/courses/' + ${item.getId()}} + '/participants'">
                                <span th:if="${item.numberOfSubs('subscriber') != 0}" th:text="${item.numberOfSubs('subscriber')}">333</span>
                                /
                                <span th:if="${item.numberOfSubs('attendee') != 0}" th:text="${item.numberOfSubs('attendee')}">444</span>
                            </a>
                        </td>
                        <td th:if="${item.averageGrade() == 0}">&nbsp;</td>
                        <td th:if="${item.averageGrade() != 0}"><span th:text="${item.averageGrade()}">444</span></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="/resources/jquery-1.8.1.min.js"></script>
        <script src="/resources/bootstrap-2.2.2.min.js"></script>
    </body>
</html>