<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Course Participants
                    <div class="logout">
                        <span id="currentUserLogin" th:text="${auth.getName()}">
                            user-a@tc.edu
                        </span>
                        <a href="/logoutpage">
                            <i class="icon-off"></i>
                        </a>
                    </div>
                </h1>
            </header>
            <div class="alert alert-error" th:if="${course == null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here.</strong>
                </div>
                <ul>
                    <li>course Not found</li>
                    <li th:if="${badId != null}">Bad course ID</li>
                </ul>
            </div>
            <div class="form-horizontal" th:if="${course != null}">
                <div class="control-group">
                    <div class="control-label">Name</div>
                    <div id="titleField" class="controls text" th:text="${course.getCourseName()}">Project Management</div>
                </div>
                <div class="control-group">
                    <div class="control-label">Lecturer</div>
                    <div id="ownerField" class="controls text" th:text="${course.getOwner()}">lecturer-a@tc.edu</div>
                </div>
                <div class="control-group" th:if="${not #lists.isEmpty(subs)}">
                    <div class="control-label">Subscribers</div>
                    <div id="subscribersList" class="controls text">
                        <ul class="unstyled" th:each="sub:${subs}">
                            <li th:text="${sub.getUserName()}">example-user-a@tc.edu</li>
                        </ul>
                    </div>
                </div>
                <div class="control-group" th:if="${not #lists.isEmpty(atts)}">
                    <div class="control-label">Attendee</div>
                    <div id="attendeeList" class="controls text">
                        <ul class="unstyled" th:each="att:${atts}">
                            <li th:text="${att.getUserName()}">example-user-c@tc.edu</li>

                        </ul>
                    </div>
                </div>
                <div class="form-actions">
                    <a class="btn" href="/courses">Back</a>
                </div>
            </div>
        </div>
    </body>
</html>
