<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Start Course
                    <div class="logout">
                        <span id="currentUserLogin" th:text="${auth.getName()}">
                            user-a@tc.edu
                        </span>
                        <a href="/logoutpage">
                            <i class="icon-off"></i>
                        </a>
                    </div>
                </h1>
            </header>
            <div class="alert alert-error" th:if="${course == null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here.</strong>
                </div>
                <ul>
                    <li>course Not found</li>
                    <li th:if="${badId != null}">Bad course ID</li>
                </ul>
            </div>
            <form th:if="${course != null}" class="form-horizontal" action="/courses" method="post">
                <fieldset>
                    <div class="control-group">
                        <div class="control-label">Name</div>
                        <div id="titleField" class="controls text" th:text="${course.getCourseName()}">Project Management</div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">Category</div>
                        <div id="categoryField" class="controls text" th:text="${course.getCategory()}">Development</div>
                    </div>
                    <div class="form-actions">
                        <button id="updateButton" class="btn btn-primary" type="submit" name="start">Start</button>
                        <a class="btn" href="/courses">Cancel</a>
                    </div>
                    <input type="hidden" name="courseId" th:value="${course.getId()}"/>
                </fieldset>
            </form>
        </div>
    </body>
</html>
