<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Subscribe
                    <div class="logout">
                        <span id="currentUserLogin" th:text="${auth.getName()}">
                            user-a@tc.edu
                        </span>
                        <a href="/logoutpage">
                            <i class="icon-off"></i>
                        </a>
                    </div>
                </h1>
            </header>
            <div class="alert alert-error" th:if="${course == null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here.</strong>
                </div>
                <ul>
                    <li>course Not found</li>
                    <li th:if="${badId != null}">Bad course ID</li>
                </ul>
            </div>
            <div th:if="${course != null}">
                <form class="form-horizontal" action="/courses" method="post">
                    <fieldset>
                        <div class="control-group">
                            <div class="control-label" >
                                Course
                            </div>
                            <div id="titleField" class="controls text" th:text="${course.getCourseName()}">
                                Project Management 101
                                
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                Lecturer
                            </div>
                            <div id="ownerField" class="controls text" th:text="${course.getOwner()}">
                                lecturer-a@tc.jtc
                            </div>
                        </div>
                        <div class="form-actions">
                            <button id="subscribeButton" class="btn btn-success" type="submit" name="sub">Subscribe</button>
                            <a class="btn" href="/courses">Cancel</a>
                        </div>
                    </fieldset>
                    <input type="hidden" name="courseId" th:value="${course.getId()}"/>
                </form>
            </div>
        </div>
    </body>
</html>
