<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Update Course
                    <div class="logout">
                        <span id="currentUserLogin" th:text="${auth.getName()}">
                            lecturer-a@tc.edu
                        </span>
                        <a href="/logoutpage">
                            <i class="icon-off"></i>
                        </a>
                    </div>
                </h1>
            </header>
            <div class="alert alert-error" th:if="${error != null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here</strong>
                </div>
                <ul>
                    <li th:if="${#strings.contains(error,'1')}">Name field is required.</li>
                    <li th:if="${#strings.contains(error,'3')}">Description field is required.</li>
                    <li th:if="${#strings.contains(error,'5')}">Category field is required.</li>
                </ul>
            </div>
            <div class="alert alert-error" th:if="${course == null}">
                <div>
                    <strong>Okay, Houston, we've had a problem here.</strong>
                </div>
                <ul>
                    <li>course Not found</li>
                    <li th:if="${badId != null}">Bad course ID</li>
                </ul>
            </div>
            <div class="alert alert-error" th:if="${subErr == -1 or attErr == -1}">
                <ul>
                    <li th:if="${subErr == -1}">wrong number of subs value</li>
                    <li th:if="${attErr == -1}">wrong number of attendees value</li>
                </ul>
            </div>
            <div th:if="${course != null}">
                <form class="form-horizontal" action="/courses" method="post">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <input id="titleField" class="span5" type="text" name="name" th:value="${course.getCourseName()}"/>
                                <input type="hidden" name="courseId" th:value="${course.getId()}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Category</label>
                            <div class="controls">
                                <select id="categoryField" class="span5" name="category">
                                    <option>Project Management</option>
                                    <option>Development</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label id="gradeField" class="control-label">Minimum subscribers</label>
                            <div class="controls">
                                <input class="span2" type="text" name="subs" th:value="${course.getMinSubs()}"/>
                            </div>
                        </div>
                        <div class="control-group" th:if="${course.getState() == T(com.webproject.entities.State).DRAFT or course.getState() == T(com.webproject.entities.State).REJECT}">
                            <label id="gradeField" class="control-label">Minimum Attendees</label>
                            <div class="controls">
                                <input class="span2" type="text" name="atts" th:value="${course.getMinAtts()}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description</label>
                            <div class="controls">
                                <textarea id="descriptionField" class="span5" rows="3" name="description" th:text="${course.getCourseDescription()}">Bla-bla-bla</textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Links</label>
                            <div class="controls">
                                <textarea id="linksField" class="span5" rows="3" name="links" th:text="${course.getLinks()}">Bla-bla-bla</textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button id="updateButton" class="btn btn-primary" type="submit" name="update">Update</button>
                            <button id="reviewButton" class="btn btn-warning" type="submit" name="review" th:if="${course.getState() == T(com.webproject.entities.State).REVIEW}">Review</button>
                            <a class="btn" href="/courses">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
